html, body {
  box-sizing: border-box;
  font-family: open sans, sans serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
}

.title {
  color: #00a79d;
  font-family: 'Roboto slab';
  font-size: 3.8em;
  font-weight: 700;
  margin: 0;
  padding-top: 45px;
  text-align: center;
}

main {
  background-color: #e5f3f2;  
  width: 100%;
}

.create-idea,
.search,
.idea-container {
  margin: auto;
  width: 50%;
}

input {
  border: solid 1px #d1d3d4;
  font-size:1em;
  margin: 20px 0;
  overflow: scroll;
  padding: 15px 0;
  width: 99%;
}

form {
  width: 100%;
}

span {
  color: #6d6e71;
}

.save-button {
  background-color: #00a79d;
  color:#ffffff;
  font-size: 20px;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
}

.save-button:hover {
  background-color: #045e55;
}


/* Prepended Article */
article {
  border-bottom: #939598;   
  margin: 0 auto;
  width: 100%;
}

h2 {
  color: #6d6e71;
  font-family: roboto slab, serif;
  font-weight: 700;
}

.icon {
  border: none;  
  height: 30px;
  margin: 5px;
  width: 30px;
}

.delete-icon {
  background: url('FEE-ideabox-icon-assets/delete.svg') no-repeat;
  float: right;      
  margin: 5px;
}

.delete-icon:hover {
  background: url('FEE-ideabox-icon-assets/delete-hover.svg') no-repeat;
}

p { 
  color: #939598;
}

.up-vote {
  background: url('FEE-ideabox-icon-assets/upvote.svg') no-repeat;
}

.up-vote:hover {
  background: url('FEE-ideabox-icon-assets/upvote-hover.svg') no-repeat;
}


.down-vote {
  background: url('FEE-ideabox-icon-assets/downvote.svg') no-repeat;
}

.down-vote:hover {
  background: url('FEE-ideabox-icon-assets/downvote-hover.svg') no-repeat;
}

.quality,
.rating {
  display: inline;
  font-family: roboto slab;
}


/*Media Queries*/
@media screen and (max-width: 550px) {

  .create-idea,
  .search,
  .idea-container {
    margin: auto;
    width: 75%;
  }

  .save-button {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }

  input {
    margin: 10px 0;
    padding: 5px 0;
  }

  #idea-body {
    height: 60px;
  }

  .title {
    font-size: 2.8em;
  }

  .icon {
    border: none;  
    height: 20px;
    margin: 5px;
    width: 20px;
  }

  h2 {
    font-size: 1.1em;
  }

  p {
    font-size: .8em;
  }

  input::placeholder {
    font-size: .8em;
    padding-top: 0;
  }




}


