body {
  font-family: open sans, sans serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  color: #00a79d;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-weight: 700;
}

main {
  background-color: #e5f3f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  justify-content: center;
}

input {
  width: 50vw;
  padding: 15px;
  margin: 15px;
  font-size:1em;
}

form {
  display: inline-grid;
}

span {
  color: #6d6e71;
}


.save-button {
  color:#ffffff;
  background-color: #00a79d;
  width: 52vw;
  padding: 15px;
  margin: 15px;
}

.save-button:hover {
  background-color: #045e55;
}

/* Container styling */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #6d6e71;
  font: roboto slab, serif;
}

.delete-icon {
  background: url('FEE-ideabox-icon-assets/delete.svg') no-repeat;
  border: none; 
  float: right; 
  height: 30px;
  width: 30px;
  margin: 5px;       
}

.delete-icon:hover {
  background: url('FEE-ideabox-icon-assets/delete-hover.svg') no-repeat;
  border: none;
  height: 30px;
  width: 30px;
  float: right;
}

p { 
  color: #939598;
  display: inline-block;
}

.up-vote {
  background: url('FEE-ideabox-icon-assets/upvote.svg') no-repeat;
  border: none;
  height: 30px;
  width: 30px;
  margin: 5px;
}

.up-vote:hover {
  background: url('FEE-ideabox-icon-assets/upvote-hover.svg') no-repeat;
  border: none;
  height: 30px;
  width: 30px;
}


.down-vote {
  background: url('FEE-ideabox-icon-assets/downvote.svg') no-repeat;
  border: none;
  height: 30px;
  width: 30px;
  margin: 5px;
}

.down-vote:hover {
  background: url('FEE-ideabox-icon-assets/downvote-hover.svg') no-repeat;
  border: none;
  height: 30px;
  width: 30px;
}

.quality {
  font: roboto slab;
}

hr {
  width: 50vw;
  margin: 0;
}

article {
  /*display: block;*/
  width: 50vh;
  margin: 0 auto;   
}

